body {
    font-family: 'Noto Sans', sans-serif;
}

#nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
}

#nav li {
        float: left;
}

#nav li a {
        display: block;
        text-align: center;
        padding: 5px;
}

#header {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    margin: auto;
}

#main {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    margin: auto;
}

ul.homeul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

ul.tagul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}


#main a:link {
    color: black;
    text-decoration: underline;
}

#main a:visited {
    color: black;
}

#main a:hover {
    color: blue;
    text-decoration: bold;

}

#main a:active {
    color: red;
}

#main img {
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
}


#titlepost {
        padding: 0px;
        margin: 0px;
}

#entrydate {
        font-size: small;
}

hr {
        border : 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}



/* Simple Table CSS */


table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    font: normal 13px Arial, sans-serif;
}
table thead th {
    background-color: #C3CBCB;
    border: solid 1px #DDEEEE;
    padding: 10px;
    text-align: left;
}
table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
}