{% extends "base.html" %}

{% block main %}
	{% for entry in entries %}
		<div class="entry">
			<h1><a href="{{ entry.metadata.posturl }}">{{ entry.metadata.title }}</a></h1>
			<div id="entrydate">{{ entry.metadata.date.strftime('%b %d, %Y') }}</div>
			<div class="entry_content">
			{{ entry.content }}
			</div>
		</div>
	{% endfor %}
{% endblock %}