{% extends "base.html" %}

{% block main %}
<h1>Posts:</h1>
<ul class="homeul">
	{% for entry in entries %}
		<li class="homeentry"><a href="{{ entry.metadata.posturl }}">{{ entry.metadata.title }}</a> - {{ entry.metadata.date.strftime('%Y-%m-%d') }}</li>
	{% endfor %}
</ul>
{% endblock %}