{% extends "base.html" %}

{% block header %}{% endblock %}

{% block main %}
	<h1 id="titlepost">{{ entry.metadata.title }}</h1>
	<div id="entrydate">{{ entry.metadata.date.strftime('%b %d, %Y') }}</div>
	{{ entry.content }}

	Assigned Tags:
	{% for tag in entry.metadata.tags.split(',') %}
		<a href="tags/{{ tag }}/index.html">{{ tag }}</a>
	{% endfor %}
{% endblock %}
