<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>JSTN</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" href="../../trac.css" type="text/css" />
	<link rel="stylesheet" href="../../style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
	<link rel="icon"
	type="image/png"
	href="resources/favicon.png">
	<meta name="viewport" content="width=device-width">
</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<a href='../../index.html'><img src="../../resources/favicon.png" alt="logo"></a>
			</div>
			<hr>
{% block main %}
<ul class="homeul">
	{% for entry in entries %}
		<li class="homeentry"><a href="../../{{ entry.metadata.posturl }}">{{ entry.metadata.title }}</a> - {{ entry.metadata.date.strftime('%Y-%m-%d') }}</li>
	{% endfor %}
</ul>
<p><a href="../../tags/index.html">View All Tags</a></p>
{% endblock %}
		</div>





		<div class="clearfooter"></div>
		<div id="footer"></div>
	</body>
</html>